@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #161616;
  line-height: 1;
  font-family: Roboto;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  opacity: 0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-block;
  padding: .75rem 2.125rem;
  font-size: .9375rem;
  font-weight: 700;
  line-height: 150%;
  border: .125rem solid #d3a265;
  border-radius: .5rem;
  text-transform: uppercase;
  transition: all .3s
}
.button--fw {
  width: 100%
}
.column-price__body .button--white {
  background-color: #fff;
  color: #161616
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: .625rem .9375rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #eee
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999
}
.header._header-scroll {
  background-color: rgba(255,255,255,.7)
}
.header__container {
  display: flex;
  align-items: center
}
.header__logo {
  flex: 0 1 8.125rem;
  position: relative;
  z-index: 5
}
.menu {
  display: flex;
  flex: 1 1 auto
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.menu__link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 118.75%;
  transition: all .3s
}
.action {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 500;
  line-height: 118.75%
}
.action__contact {
  transition: all .3s;
  white-space: nowrap
}
.action__language {
  position: relative;
  padding-right: 1.875rem
}
.no-webp .action__language::before {
  background: url(../img/morearrow.jpeg) center no-repeat
}
.action__language::before {
  content: "";
  transition: all .3s;
  position: absolute;
  right: -.625rem;
  width: 100%;
  height: 100%
}
.footer {
  background: #f4f4f4
}
.footer__columns {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  justify-content: space-between
}
.footer__logo img {
  max-width: 100%
}
.footer__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 170%;
  max-width: 18.75rem
}
.navigation {
  display: flex;
  flex-direction: column
}
.navigation__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
  list-style: none;
  text-transform: uppercase;
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.navigation__title:not(:last-child) {
  margin-bottom: 1.5rem
}
.navigation__title::-webkit-details-marker,
.navigation__title::marker {
  display: none
}
._spoller-init .navigation__title {
  cursor: pointer
}
._spoller-init .navigation__title::after,
._spoller-init .navigation__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .navigation__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .navigation__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .navigation__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .navigation__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.navigation__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 121.428571%
}
.navigation__link {
  transition: all .3s
}
.social__items {
  display: flex;
  flex-direction: row;
  gap: .75rem
}
.social__image img {
  max-width: 100%
}
.contacts {
  display: flex;
  flex-direction: column
}
.contacts__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
  list-style: none;
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.contacts__title:not(:last-child) {
  margin-bottom: 1.5rem
}
.contacts__title::-webkit-details-marker,
.contacts__title::marker {
  display: none
}
._spoller-init .contacts__title {
  cursor: pointer
}
._spoller-init .contacts__title::after,
._spoller-init .contacts__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .contacts__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .contacts__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .contacts__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .contacts__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.contacts__items {
  display: flex;
  flex-direction: column
}
.contacts__item {
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.contacts__label {
  color: #878787;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%
}
.contacts__link {
  transition: all .3s
}
.contacts__phone {
  display: flex;
  flex-direction: row;
  gap: .625rem
}
.hero {
  position: relative;
  min-height: 100vh
}
.hero__container {
  display: flex;
  flex: 0 1 100%
}
.hero__body {
  display: flex;
  flex-direction: column;
  text-align: start;
  z-index: 2
}
.hero__title {
  color: #3d3737;
  font-weight: 400;
  line-height: 96.969697%;
  letter-spacing: .1;
  opacity: 0;
  transition: opacity 1s
}
.hero__title._watcher-view {
  transition: opacity .8s;
  opacity: 1
}
.hero__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 170%
}
.studio {
  background-color: #f4f4f4
}
.studio__container {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: space-between;
  align-items: center
}
.studio__title {
  font-weight: 400;
  letter-spacing: .05;
  transition: all .8s;
  opacity: 0
}
.studio__title span {
  color: #d3a265
}
._watcher-view .studio__title {
  transition: all .8s;
  opacity: 1
}
.studio__text {
  max-width: 35.625rem;
  font-weight: 400;
  line-height: 170%
}
.studio__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.studio__text:not(:last-child) {
  margin-bottom: 1.125rem
}
.studio__more {
  color: #161616;
  font-size: .875rem;
  font-weight: 600;
  line-height: 121.428571%;
  transition: all .3s
}
.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.services__title {
  font-weight: 400;
  letter-spacing: .05;
  transition: all .8s;
  opacity: 0
}
.services__title span {
  color: #d3a265
}
._watcher-view .services__title {
  transition: all .8s;
  opacity: 1
}
.services__body {
  display: grid;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .9375rem;
  justify-content: start;
  align-self: start
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center
}
.cart__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 122.222222%
}
.cart__title:not(:last-child) {
  margin-bottom: 1.1875rem
}
.cart__text {
  text-align: center;
  color: #8d8d8d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 170%
}
.cart__image {
  aspect-ratio: 90/90;
  height: 5.625rem;
  width: 5.625rem
}
.cart__image img {
  max-width: 100%
}
.cart__image:not(:last-child) {
  margin-bottom: 2.5rem
}
.portfolio {
  background-color: #f4f4f4
}
.portfolio__title {
  font-weight: 400;
  letter-spacing: .05;
  text-align: center;
  transition: all .8s;
  opacity: 0
}
.portfolio__title span {
  color: #d3a265
}
._watcher-view .portfolio__title {
  transition: all .8s;
  opacity: 1
}
.portfolio__images {
  display: grid;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: .625rem
}
.portfolio__image {
  transition: all .3s
}
.portfolio__image img {
  max-width: 100%
}
.category {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  row-gap: 1.875rem
}
.category:not(:last-child) {
  margin-bottom: 1.8125rem
}
.category__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: .5rem
}
.category__link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 118.75%;
  transition: all .3s
}
.category__more {
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
  transition: all .3s
}
.price__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.price__title {
  font-weight: 400;
  letter-spacing: .05;
  text-align: center;
  transition: all .8s;
  opacity: 0
}
.price__title span {
  color: #d3a265
}
._watcher-view .price__title {
  transition: all .8s;
  opacity: 1
}
.price__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 1.875rem
}
.price__column {
  min-width: 18.75rem
}
.column-price__body {
  border: .125rem solid #d3a265;
  border-radius: .625rem;
  background: #fdfbf8;
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4.0625rem 2rem 4.0625rem;
  transition: all .3s
}
.column-price__title {
  font-size: 1.5rem;
  font-weight: 400
}
.column-price__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.column-price__price {
  font-weight: 400;
  position: relative
}
.column-price__price:not(:last-child) {
  margin-bottom: .4375rem
}
.column-price__price::before {
  content: "$"
}
.column-price__label {
  font-size: 1.125rem;
  font-weight: 400;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  position: relative;
  padding-bottom: 1.25rem
}
.column-price__label::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dcd1bb;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0
}
.column-price__label:not(:last-child) {
  margin-bottom: 1.6875rem
}
.opportunities__items {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  justify-content: center;
  align-items: center
}
.opportunities__item {
  font-size: .9375rem;
  font-weight: 500;
  line-height: 180%
}
.employees {
  background-color: #f4f4f4
}
.employees__title {
  font-weight: 400;
  letter-spacing: .05;
  text-align: center;
  text-align: center;
  transition: all .8s;
  opacity: 0
}
.employees__title span {
  color: #d3a265
}
._watcher-view .employees__title {
  transition: all .8s;
  opacity: 1
}
.employees__slider {
  display: flex;
  flex-direction: column;
  gap: 1.875rem
}
.employees__slide {
  display: flex;
  justify-content: center;
  align-items: center
}
.content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 1.875rem;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  max-width: 35.625rem;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  position: relative;
  border-radius: .625rem
}
.content::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: .0625rem;
  border-bottom: .0625rem solid #d3a265;
  z-index: -1
}
.content__avatar {
  max-width: 10.75rem;
  max-height: 10.75rem;
  border-radius: 50%
}
.content__avatar img {
  max-width: 100%
}
.content__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start
}
.content__name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%
}
.content__name:not(:last-child) {
  margin-bottom: .4375rem
}
.content__posicia {
  color: #b5b5b5;
  font-size: .875rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left
}
.content__posicia:not(:last-child) {
  margin-bottom: 2.375rem
}
.content__social {
  display: flex;
  flex-direction: row;
  gap: 1rem
}
.content__text {
  grid-column: 3/1;
  text-align: left;
  max-width: 25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 170%
}
.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem
}
.swiper-pagination-bullet {
  width: .875rem;
  height: .875rem;
  border-radius: 50%;
  background-color: #dfdfdf
}
.swiper-pagination-bullet-active {
  background: #d3a265
}
.question__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  row-gap: 2.1875rem;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem
}
.question__title {
  flex: 0 1 50%;
  font-weight: 400;
  letter-spacing: .05;
  text-align: left;
  max-width: 16.875rem;
  transition: all .8s;
  opacity: 0
}
.question__title span {
  color: #d3a265
}
._watcher-view .question__title {
  transition: all .8s;
  opacity: 1
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  flex-grow: 1
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  align-items: stretch
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .studio__more {
    display: none
  }
}
@media (min-width:47.99875em) {
  .menu__list {
    row-gap: .5rem
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: start;
    justify-content: space-between;
    justify-items: center
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center
  }
  .hero__body {
    max-width: 30rem
  }
  .hero__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    height: 100%
  }
  .studio__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .studio__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .services__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .services__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .portfolio__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .portfolio__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .price__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .price__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .employees__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .employees__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .question__title {
    -webkit-transform: translateY(-4.6875rem);
    transform: translateY(-4.6875rem)
  }
  ._watcher-view .question__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@media (min-width:47.99875em) and (min-width:75em) {
  .menu__list {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 3.75rem
  }
}
@media (min-width:61.99875em) {
  .services__body {
    grid-template-columns: repeat(4,1fr)
  }
  .portfolio__images {
    grid-template-columns: repeat(4,1fr)
  }
  .category {
    flex-direction: row
  }
}
@media (min-width:75em) {
  .header__container {
    padding-top: 2.6875rem
  }
  .header__container {
    padding-bottom: 2.6875rem
  }
  .header__container {
    min-height: 6.25rem
  }
  .menu {
    padding-left: 4.375rem
  }
  .action {
    gap: 2.8125rem
  }
  .footer__container {
    padding-top: 5.875rem
  }
  .footer__container {
    padding-bottom: 5.875rem
  }
  .footer__text:not(:last-child) {
    margin-bottom: 6rem
  }
  .navigation__items:not(:last-child) {
    margin-bottom: 2.9375rem
  }
  .contacts__items {
    row-gap: 3rem
  }
  .hero__container {
    padding-top: 12.5rem
  }
  .hero__title {
    font-size: 4.125rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 4rem
  }
  .studio__container {
    padding-top: 4.4375rem
  }
  .studio__container {
    padding-bottom: 4.4375rem
  }
  .studio__title {
    font-size: 2.5rem
  }
  .studio__text {
    font-size: 1rem
  }
  .services__container {
    padding-top: 5rem
  }
  .services__container {
    padding-bottom: 5rem
  }
  .services__title {
    font-size: 2.5rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 5.25rem
  }
  .services__body:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .portfolio__container {
    padding-top: 5rem
  }
  .portfolio__container {
    padding-bottom: 5rem
  }
  .portfolio__title {
    font-size: 2.5rem
  }
  .portfolio__title:not(:last-child) {
    margin-bottom: 5.3125rem
  }
  .category__items {
    -webkit-column-gap: 3.6875rem;
    -moz-column-gap: 3.6875rem;
    column-gap: 3.6875rem
  }
  .price__container {
    padding-top: 6.25rem
  }
  .price__container {
    padding-bottom: 6.25rem
  }
  .price__title {
    font-size: 2.5rem
  }
  .price__title:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .price__columns {
    -webkit-column-gap: 5.125rem;
    -moz-column-gap: 5.125rem;
    column-gap: 5.125rem
  }
  .column-price__price {
    font-size: 2.75rem
  }
  .opportunities:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .employees__container {
    padding-top: 6.25rem
  }
  .employees__container {
    padding-bottom: 6.25rem
  }
  .employees__title {
    font-size: 2.5rem
  }
  .employees__title:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .content {
    padding-left: 5.6875rem
  }
  .content {
    padding-right: 2.6875rem
  }
  .content {
    padding-top: 2.25rem
  }
  .content {
    padding-bottom: 2.25rem
  }
  .content::after {
    padding-top: 8.75rem
  }
  .question__container {
    padding-top: 4.5625rem
  }
  .question__container {
    padding-bottom: 4.5625rem
  }
  .question__title {
    font-size: 2.5rem
  }
}
@media (min-width:90em) {
  .hero__container {
    padding-bottom: 12.5rem
  }
}
@media (max-width:30em) {
  .hero__container {
    padding-bottom: .625rem
  }
}
@media (max-width:20em) {
  .header__container {
    padding-top: 1.5625rem
  }
  .header__container {
    padding-bottom: 1.5625rem
  }
  .header__container {
    min-height: 4.6875rem
  }
  .menu {
    padding-left: 1.5625rem
  }
  .action {
    gap: .9375rem
  }
  .footer__container {
    padding-top: 3.4375rem
  }
  .footer__container {
    padding-bottom: .9375rem
  }
  .footer__text:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .navigation__items:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .contacts__items {
    row-gap: 2.1875rem
  }
  .hero__container {
    padding-top: 5.625rem
  }
  .hero__title {
    font-size: 2.375rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 2rem
  }
  .studio__container {
    padding-top: 2.1875rem
  }
  .studio__container {
    padding-bottom: 2.1875rem
  }
  .studio__title {
    font-size: 2rem
  }
  .studio__text {
    font-size: .875rem
  }
  .services__container {
    padding-top: 2.5rem
  }
  .services__container {
    padding-bottom: 2.5rem
  }
  .services__title {
    font-size: 2rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .services__body:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .portfolio__container {
    padding-top: 2.5rem
  }
  .portfolio__container {
    padding-bottom: 2.5rem
  }
  .portfolio__title {
    font-size: 2rem
  }
  .portfolio__title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .category__items {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .price__container {
    padding-top: 3.125rem
  }
  .price__container {
    padding-bottom: 3.125rem
  }
  .price__title {
    font-size: 2rem
  }
  .price__title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .price__columns {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .column-price__price {
    font-size: 2rem
  }
  .opportunities:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .employees__container {
    padding-top: 3.125rem
  }
  .employees__container {
    padding-bottom: 3.125rem
  }
  .employees__title {
    font-size: 2rem
  }
  .employees__title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .content {
    padding-left: 1.5rem
  }
  .content {
    padding-right: 1.625rem
  }
  .content {
    padding-top: 1.5625rem
  }
  .content {
    padding-bottom: 2rem
  }
  .content::after {
    padding-top: 7.8125rem
  }
  .question__container {
    padding-top: 1.875rem
  }
  .question__container {
    padding-bottom: 1.875rem
  }
  .question__title {
    font-size: 2rem
  }
}
@media (max-width:61.99875em) {
  .services__body {
    grid-template-columns: repeat(3,1fr)
  }
  .portfolio__images {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 9.375rem 0 0 1.875rem;
    transition: left .3s;
    background: #f4f4f4
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }
  .menu__list {
    flex-direction: column;
    gap: 3.125rem
  }
  .menu__link {
    font-size: 1.625rem
  }
  .footer__text {
    display: none
  }
  .footer__body {
    display: flex;
    gap: .625rem;
    justify-content: space-between;
    align-items: center
  }
  .footer__body {
    margin-bottom: 3.125rem
  }
  .studio__container {
    flex-direction: column;
    align-items: start
  }
  .studio__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .studio__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .services__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .services__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .services__body {
    grid-template-columns: repeat(2,1fr)
  }
  .portfolio__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .portfolio__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .portfolio__images {
    grid-template-columns: repeat(2,1fr);
    justify-content: center
  }
  .category {
    flex-direction: column
  }
  .price__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .price__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .employees__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .employees__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .question__container {
    flex-direction: column
  }
  .question__title {
    text-align: center
  }
  .question__title {
    -webkit-transform: translateY(4.6875rem);
    transform: translateY(4.6875rem)
  }
  ._watcher-view .question__title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .question__button {
    width: 100%
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .services__body {
    grid-template-columns: repeat(1,1fr)
  }
  .portfolio__images {
    grid-template-columns: auto
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (padding-top:clamp(1.5625rem ,1.1534090909rem + 2.0454545455vw ,2.6875rem)) {
    .header__container {
      padding-top: clamp(1.5625rem ,1.1534090909rem + 2.0454545455vw ,2.6875rem)
    }
  }
  @supports not (padding-top:clamp(1.5625rem ,1.1534090909rem + 2.0454545455vw ,2.6875rem)) {
    .header__container {
      padding-top: calc(1.5625rem + 1.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(1.5625rem ,1.1534090909rem + 2.0454545455vw ,2.6875rem)) {
    .header__container {
      padding-bottom: clamp(1.5625rem ,1.1534090909rem + 2.0454545455vw ,2.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(1.5625rem ,1.1534090909rem + 2.0454545455vw ,2.6875rem)) {
    .header__container {
      padding-bottom: calc(1.5625rem + 1.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (min-height:clamp(4.6875rem ,4.1193181818rem + 2.8409090909vw ,6.25rem)) {
    .header__container {
      min-height: clamp(4.6875rem ,4.1193181818rem + 2.8409090909vw ,6.25rem)
    }
  }
  @supports not (min-height:clamp(4.6875rem ,4.1193181818rem + 2.8409090909vw ,6.25rem)) {
    .header__container {
      min-height: calc(4.6875rem + 1.5625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-left:clamp(1.5625rem ,0.5397727273rem + 5.1136363636vw ,4.375rem)) {
    .menu {
      padding-left: clamp(1.5625rem ,.5397727273rem + 5.1136363636vw ,4.375rem)
    }
  }
  @supports not (padding-left:clamp(1.5625rem ,0.5397727273rem + 5.1136363636vw ,4.375rem)) {
    .menu {
      padding-left: calc(1.5625rem + 2.8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.2556818182rem + 3.4090909091vw ,2.8125rem)) {
    .action {
      gap: clamp(.9375rem ,.2556818182rem + 3.4090909091vw ,2.8125rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.2556818182rem + 3.4090909091vw ,2.8125rem)) {
    .action {
      gap: calc(.9375rem + 1.875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.4375rem ,2.5511363636rem + 4.4318181818vw ,5.875rem)) {
    .footer__container {
      padding-top: clamp(3.4375rem ,2.5511363636rem + 4.4318181818vw ,5.875rem)
    }
  }
  @supports not (padding-top:clamp(3.4375rem ,2.5511363636rem + 4.4318181818vw ,5.875rem)) {
    .footer__container {
      padding-top: calc(3.4375rem + 2.4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,-0.8579545455rem + 8.9772727273vw ,5.875rem)) {
    .footer__container {
      padding-bottom: clamp(.9375rem ,-.8579545455rem + 8.9772727273vw ,5.875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,-0.8579545455rem + 8.9772727273vw ,5.875rem)) {
    .footer__container {
      padding-bottom: calc(.9375rem + 4.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,0.8011363636rem + 6.9318181818vw ,6rem)) {
    .footer__text:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,.8011363636rem + 6.9318181818vw ,6rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,0.8011363636rem + 6.9318181818vw ,6rem)) {
    .footer__text:not(:last-child) {
      margin-bottom: calc(2.1875rem + 3.8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.9147727273rem + 1.3636363636vw ,2.9375rem)) {
    .navigation__items:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.9147727273rem + 1.3636363636vw ,2.9375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.9147727273rem + 1.3636363636vw ,2.9375rem)) {
    .navigation__items:not(:last-child) {
      margin-bottom: calc(2.1875rem + .75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (row-gap:clamp(2.1875rem ,1.8920454545rem + 1.4772727273vw ,3rem)) {
    .contacts__items {
      row-gap: clamp(2.1875rem ,1.8920454545rem + 1.4772727273vw ,3rem)
    }
  }
  @supports not (row-gap:clamp(2.1875rem ,1.8920454545rem + 1.4772727273vw ,3rem)) {
    .contacts__items {
      row-gap: calc(2.1875rem + .8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.125rem + 12.5vw ,12.5rem)) {
    .hero__container {
      padding-top: clamp(5.625rem ,3.125rem + 12.5vw ,12.5rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.125rem + 12.5vw ,12.5rem)) {
    .hero__container {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2.375rem ,1.7386363636rem + 3.1818181818vw ,4.125rem)) {
    .hero__title {
      font-size: clamp(2.375rem ,1.7386363636rem + 3.1818181818vw ,4.125rem)
    }
  }
  @supports not (font-size:clamp(2.375rem ,1.7386363636rem + 3.1818181818vw ,4.125rem)) {
    .hero__title {
      font-size: calc(2.375rem + 1.75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.9772727273rem + 1.3636363636vw ,2rem)) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.9772727273rem + 1.3636363636vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.9772727273rem + 1.3636363636vw ,2rem)) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1.25rem + .75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2rem ,1.2727272727rem + 3.6363636364vw ,4rem)) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp(2rem ,1.2727272727rem + 3.6363636364vw ,4rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,1.2727272727rem + 3.6363636364vw ,4rem)) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(2rem + 2 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(2.1875rem ,1.3693181818rem + 4.0909090909vw ,4.4375rem)) {
    .studio__container {
      padding-top: clamp(2.1875rem ,1.3693181818rem + 4.0909090909vw ,4.4375rem)
    }
  }
  @supports not (padding-top:clamp(2.1875rem ,1.3693181818rem + 4.0909090909vw ,4.4375rem)) {
    .studio__container {
      padding-top: calc(2.1875rem + 2.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(2.1875rem ,1.3693181818rem + 4.0909090909vw ,4.4375rem)) {
    .studio__container {
      padding-bottom: clamp(2.1875rem ,1.3693181818rem + 4.0909090909vw ,4.4375rem)
    }
  }
  @supports not (padding-bottom:clamp(2.1875rem ,1.3693181818rem + 4.0909090909vw ,4.4375rem)) {
    .studio__container {
      padding-bottom: calc(2.1875rem + 2.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .studio__title {
      font-size: clamp(2rem ,1.8181818182rem + .9090909091vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .studio__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8295454545rem + 0.2272727273vw ,1rem)) {
    .studio__text {
      font-size: clamp(.875rem ,.8295454545rem + .2272727273vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8295454545rem + 0.2272727273vw ,1rem)) {
    .studio__text {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .services__container {
      padding-top: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .services__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .services__container {
      padding-bottom: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .services__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .services__title {
      font-size: clamp(2rem ,1.8181818182rem + .9090909091vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .services__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.2215909091rem + 6.7045454545vw ,5.25rem)) {
    .services__title:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,.2215909091rem + 6.7045454545vw ,5.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.2215909091rem + 6.7045454545vw ,5.25rem)) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 3.6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.3636363636rem + 5.6818181818vw ,5.625rem)) {
    .services__body:not(:last-child) {
      margin-bottom: clamp(2.5rem ,1.3636363636rem + 5.6818181818vw ,5.625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.3636363636rem + 5.6818181818vw ,5.625rem)) {
    .services__body:not(:last-child) {
      margin-bottom: calc(2.5rem + 3.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .portfolio__container {
      padding-top: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .portfolio__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .portfolio__container {
      padding-bottom: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)) {
    .portfolio__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .portfolio__title {
      font-size: clamp(2rem ,1.8181818182rem + .9090909091vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .portfolio__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.0511363636rem + 5.6818181818vw ,5.3125rem)) {
    .portfolio__title:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.0511363636rem + 5.6818181818vw ,5.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.0511363636rem + 5.6818181818vw ,5.3125rem)) {
    .portfolio__title:not(:last-child) {
      margin-bottom: calc(2.1875rem + 3.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,0.7897727273rem + 3.8636363636vw ,3.6875rem)) or (column-gap:clamp(1.5625rem ,0.7897727273rem + 3.8636363636vw ,3.6875rem))) {
    .category__items {
      -webkit-column-gap: clamp(1.5625rem ,.7897727273rem + 3.8636363636vw ,3.6875rem);
      -moz-column-gap: clamp(1.5625rem ,.7897727273rem + 3.8636363636vw ,3.6875rem);
      column-gap: clamp(1.5625rem ,.7897727273rem + 3.8636363636vw ,3.6875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,0.7897727273rem + 3.8636363636vw ,3.6875rem)) or (column-gap:clamp(1.5625rem ,0.7897727273rem + 3.8636363636vw ,3.6875rem))) {
    .category__items {
      -webkit-column-gap: calc(1.5625rem + 2.125 * (100vw - 20rem)/ 55);
      -moz-column-gap: calc(1.5625rem + 2.125 * (100vw - 20rem)/ 55);
      column-gap: calc(1.5625rem + 2.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .price__container {
      padding-top: clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .price__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .price__container {
      padding-bottom: clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .price__container {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .price__title {
      font-size: clamp(2rem ,1.8181818182rem + .9090909091vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .price__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.3920454545rem + 3.9772727273vw ,4.375rem)) {
    .price__title:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.3920454545rem + 3.9772727273vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.3920454545rem + 3.9772727273vw ,4.375rem)) {
    .price__title:not(:last-child) {
      margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem)/ 55)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,0.6931818182rem + 5.9090909091vw ,5.125rem)) or (column-gap:clamp(1.875rem ,0.6931818182rem + 5.9090909091vw ,5.125rem))) {
    .price__columns {
      -webkit-column-gap: clamp(1.875rem ,.6931818182rem + 5.9090909091vw ,5.125rem);
      -moz-column-gap: clamp(1.875rem ,.6931818182rem + 5.9090909091vw ,5.125rem);
      column-gap: clamp(1.875rem ,.6931818182rem + 5.9090909091vw ,5.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,0.6931818182rem + 5.9090909091vw ,5.125rem)) or (column-gap:clamp(1.875rem ,0.6931818182rem + 5.9090909091vw ,5.125rem))) {
    .price__columns {
      -webkit-column-gap: calc(1.875rem + 3.25 * (100vw - 20rem)/ 55);
      -moz-column-gap: calc(1.875rem + 3.25 * (100vw - 20rem)/ 55);
      column-gap: calc(1.875rem + 3.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.7272727273rem + 1.3636363636vw ,2.75rem)) {
    .column-price__price {
      font-size: clamp(2rem ,1.7272727273rem + 1.3636363636vw ,2.75rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.7272727273rem + 1.3636363636vw ,2.75rem)) {
    .column-price__price {
      font-size: calc(2rem + .75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.8806818182rem + 3.4090909091vw ,3.4375rem)) {
    .opportunities:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,.8806818182rem + 3.4090909091vw ,3.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.8806818182rem + 3.4090909091vw ,3.4375rem)) {
    .opportunities:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .employees__container {
      padding-top: clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .employees__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .employees__container {
      padding-bottom: clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .employees__container {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .employees__title {
      font-size: clamp(2rem ,1.8181818182rem + .9090909091vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .employees__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.3920454545rem + 3.9772727273vw ,4.375rem)) {
    .employees__title:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.3920454545rem + 3.9772727273vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.3920454545rem + 3.9772727273vw ,4.375rem)) {
    .employees__title:not(:last-child) {
      margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-left:clamp(1.5rem ,-0.0227272727rem + 7.6136363636vw ,5.6875rem)) {
    .content {
      padding-left: clamp(1.5rem ,-.0227272727rem + 7.6136363636vw ,5.6875rem)
    }
  }
  @supports not (padding-left:clamp(1.5rem ,-0.0227272727rem + 7.6136363636vw ,5.6875rem)) {
    .content {
      padding-left: calc(1.5rem + 4.1875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-right:clamp(1.625rem ,1.2386363636rem + 1.9318181818vw ,2.6875rem)) {
    .content {
      padding-right: clamp(1.625rem ,1.2386363636rem + 1.9318181818vw ,2.6875rem)
    }
  }
  @supports not (padding-right:clamp(1.625rem ,1.2386363636rem + 1.9318181818vw ,2.6875rem)) {
    .content {
      padding-right: calc(1.625rem + 1.0625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(1.5625rem ,1.3125rem + 1.25vw ,2.25rem)) {
    .content {
      padding-top: clamp(1.5625rem ,1.3125rem + 1.25vw ,2.25rem)
    }
  }
  @supports not (padding-top:clamp(1.5625rem ,1.3125rem + 1.25vw ,2.25rem)) {
    .content {
      padding-top: calc(1.5625rem + .6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(2rem ,1.9090909091rem + 0.4545454545vw ,2.25rem)) {
    .content {
      padding-bottom: clamp(2rem ,1.9090909091rem + .4545454545vw ,2.25rem)
    }
  }
  @supports not (padding-bottom:clamp(2rem ,1.9090909091rem + 0.4545454545vw ,2.25rem)) {
    .content {
      padding-bottom: calc(2rem + .25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(7.8125rem ,7.4715909091rem + 1.7045454545vw ,8.75rem)) {
    .content::after {
      padding-top: clamp(7.8125rem ,7.4715909091rem + 1.7045454545vw ,8.75rem)
    }
  }
  @supports not (padding-top:clamp(7.8125rem ,7.4715909091rem + 1.7045454545vw ,8.75rem)) {
    .content::after {
      padding-top: calc(7.8125rem + .9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.8977272727rem + 4.8863636364vw ,4.5625rem)) {
    .question__container {
      padding-top: clamp(1.875rem ,.8977272727rem + 4.8863636364vw ,4.5625rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.8977272727rem + 4.8863636364vw ,4.5625rem)) {
    .question__container {
      padding-top: calc(1.875rem + 2.6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,0.8977272727rem + 4.8863636364vw ,4.5625rem)) {
    .question__container {
      padding-bottom: clamp(1.875rem ,.8977272727rem + 4.8863636364vw ,4.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,0.8977272727rem + 4.8863636364vw ,4.5625rem)) {
    .question__container {
      padding-bottom: calc(1.875rem + 2.6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .question__title {
      font-size: clamp(2rem ,1.8181818182rem + .9090909091vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8181818182rem + 0.9090909091vw ,2.5rem)) {
    .question__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:47.99875em) and (min-width:20em) and (max-width:75em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.1875rem + 3.75vw ,3rem)) or (column-gap:clamp(0.9375rem ,0.1875rem + 3.75vw ,3rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.1875rem + 3.75vw ,3rem);
      -moz-column-gap: clamp(.9375rem ,.1875rem + 3.75vw ,3rem);
      column-gap: clamp(.9375rem ,.1875rem + 3.75vw ,3rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.1875rem + 3.75vw ,3rem)) or (column-gap:clamp(0.9375rem ,0.1875rem + 3.75vw ,3rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 2.0625 * (100vw - 20rem)/ 55);
      -moz-column-gap: calc(.9375rem + 2.0625 * (100vw - 20rem)/ 55);
      column-gap: calc(.9375rem + 2.0625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)) {
    .footer__logo:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)) {
    .footer__logo:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:47.99875em) and (max-width:20em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (min-width:30em) and (max-width:90em) {
  @supports (padding-bottom:clamp(0.625rem ,-5.3125rem + 19.7916666667vw ,12.5rem)) {
    .hero__container {
      padding-bottom: clamp(.625rem ,-5.3125rem + 19.7916666667vw ,12.5rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,-5.3125rem + 19.7916666667vw ,12.5rem)) {
    .hero__container {
      padding-bottom: calc(.625rem + 11.875 * (100vw - 30rem)/ 60)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    border-radius: .5rem;
    background-color: #d3a265;
    color: #fff
  }
  .column-price__body .button--white:hover {
    color: #d3a265
  }
  .menu__link:hover {
    color: #d3a265
  }
  .action__contact:hover {
    color: #d3a265
  }
  .action__language:hover::before {
    content: "";
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .navigation__link:hover {
    color: #d3a265
  }
  .contacts__link:hover {
    color: #d3a265
  }
  .studio__more:hover {
    color: #d3a265
  }
  .portfolio__image:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
  }
  .category__link:hover {
    color: #d3a265;
    text-decoration: underline
  }
  .category__more:hover {
    color: #d3a265;
    text-decoration: underline
  }
  .column-price__body:hover {
    background: #d3a265;
    color: #fff
  }
}
.webp .action__language::before {
  background: url(../img/morearrow.webp) center no-repeat
}